torch>=1.9.2
pyyaml
numpy==1.22.0
librosa
tgt
tqdm
scipy==1.7.0 --only-binary scipy
numba
inflect
unidecode
gunicorn
pytest
setuptools
flask
flask-cors
flask-apispec
flask-env
tokenizer
resampy
boto3
# TODO: espnet brings in a TON of unnecessary dependencies. Find a way to ignore
#   them, fork or subtree espnet
espnet>=0.10.0
espnet_model_zoo
parallel_wavegan
# No wheels available for py3.8 for fairseq 0.10.0 and wheel building broken
ice-g2p @ https://github.com/grammatek/ice-g2p/archive/bc145b77b92cf1f05edd69fc54f7cced8877f471.zip

soundfile>=0.10

# dev:
black
mypy
Flask-Migrate==3.1.0
Flask-SQLAlchemy==2.5.1
SQLAlchemy==1.4.31
