torch>=1.9.2
sequitur-g2p
pyyaml
numpy
librosa
tgt
tqdm
scipy
numba
inflect
unidecode
gunicorn
pytest
setuptools
flask
flask-cors
flask-apispec
flask-env
tokenizer
resampy
boto3
espnet>=0.10.0
espnet_model_zoo

# dev:
black
mypy
Flask-Migrate==3.1.0
Flask-SQLAlchemy==2.5.1
SQLAlchemy==1.4.31
