torch @ https://download.pytorch.org/whl/cpu/torch-1.9.0%2Bcpu-cp38-cp38-linux_x86_64.whl
sequitur @ https://github.com/rkjaran/sequitur-g2p/releases/download/v1.0a2/sequitur-1.0a2-cp38-cp38-manylinux_2_12_x86_64.manylinux2010_x86_64.whl
pyyaml
numpy
librosa
tgt
scipy
numba
inflect
unidecode
gunicorn
pytest
setuptools
flask
flask-cors
flask-apispec
flask-env
tokenizer
resampy
boto3
# dev:
black
mypy
