flask
gunicorn
flask-cors
flask-apispec
flask-env
boto3
numpy == 1.19.0
torch @ https://download.pytorch.org/whl/cpu/torch-1.9.0%2Bcpu-cp38-cp38-linux_x86_64.whl
tgt == 1.4.4
scipy == 1.5.0
unidecode == 1.1.1
inflect == 4.1.0
pyyaml == 5.3.1
sequitur @ git+https://github.com/rkjaran/sequitur-g2p.git@62c7da8389498d443d62753b6ffb6d98676c759d
llvmlite==0.36.0
numba==0.53.1
resampy==0.2.2
tokenizer>=3.0.0,<4.0.0
protobuf
grpcio==1.40.0
pytest==6.2.5
hypothesis==6.24.2
Flask-Migrate==3.1.0
Flask-SQLAlchemy==2.5.1
SQLAlchemy==1.4.31
