apispec==4.4.0
boto3==1.17.60
botocore==1.20.60
click==7.1.2
Flask==1.1.2
flask-apispec==0.11.0
Flask-Cors==3.0.10
Flask-Env==2.0.0
future==0.18.2
gunicorn==20.1.0
inflect==4.1.0
itsdangerous==1.1.0
Jinja2==2.11.3
jmespath==0.10.0
MarkupSafe==1.1.1
marshmallow==3.11.1
numpy==1.19.0
pip==20.0.2
python-dateutil==2.8.1
PyYAML==5.3.1
s3transfer==0.4.2
scipy==1.5.0
setuptools==44.0.0
six==1.15.0
tgt==1.4.4
torch @ https://download.pytorch.org/whl/cpu/torch-1.9.0%2Bcpu-cp38-cp38-linux_x86_64.whl
typing-extensions==3.7.4.3
Unidecode==1.1.1
urllib3==1.26.4
webargs==8.0.0
Werkzeug==1.0.1
sequitur @ https://github.com/rkjaran/sequitur-g2p/releases/download/v1.0a2/sequitur-1.0a2-cp38-cp38-manylinux_2_12_x86_64.manylinux2010_x86_64.whl
llvmlite==0.36.0
numba==0.53.1
resampy==0.2.2
tokenizer==3.1.2
protobuf==3.17.3
